body {
  background-color: #f0f5ff; 
  margin: 0;
  padding: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
}

.rounded-image img {
  border-radius: 10px;
  object-fit: cover;
}

.main {
  margin: 10px auto;
  width: 35%;
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  position: relative;
}

.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height: 10px;
  background-color: rgb(69, 69, 231);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* email forms styles */
.form-box {
  margin: 10px auto;
  margin-top: 15px;
  border: 1px solid black;
  padding: 25px;
  border-radius: 8px;
  width: 35%;
  padding: 10px;
  background-color: white; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}

.form-label {
  display: block;
  margin-bottom: 5px;
}

.required-star {
  color: red;
}

.form-input {
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  width:35%;
}

.form-input::placeholder {
  color: #999;
}

.form-input:focus,
.form-input:hover {
  outline: none;
  border-color: dodgerblue;
}

.form-input:hover {
  border-color: rgb(47, 8, 131);
  border-width: 2px;
  width:35%;

}

/* submit button */
.blue-button {
  background-color: #4285f4;
  color: white;
  border-radius: 8px;
  padding: 8px 20px;
  display: flex;
  margin-left: 500px;
}
/* validation */

.error-message {
  color: red;
  display: flex;
  align-items: center; 
}

.error-icon {
  margin-right: 5px; 
  border-radius: 50%;
  background-color: rgb(216, 10, 10);
  color: rgb(255, 255, 255);
  padding: 1.5px 8px; 
  font-weight: bold;
}

/* Center the loading spinner in the middle of the page */
.loading-spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999; 
}

.loading-spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #04416a;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


